@import "base.css";
/*头部开始*/
header{
    width: 100%;
    height: 120px;
}
.head-box{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-left{
    width: 300px;
    height: 42px;
}
.head-left span{
    color: rgb(255, 192, 1);
    font-family: 微软雅黑, "Microsoft YaHei";
    font-size: 32px;
    font-weight: bold;
}
.head-left span span{
    color: rgb(204, 204, 204);
}
.head-right{
    width: 601px;
    height: 40px;
}
.head-right ul{
    width: 100%;
    height: 100%;
}
.head-right ul li{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #333;
    float: left;
    margin-right: 15px;
    cursor: pointer;
}
.head-right ul li a{
    color: #333;
    font-size: 16px;
}
.head-right ul .active{
    background-color: #ffc001;
    border-radius: 20px;
    color: #fff;
}
.head-right ul .active a{
    color: #fff;
}
.head-right ul li:hover{
    background-color: #ffc001;
    border-radius: 20px;
    color: #fff;
}
.head-right ul li:hover a{
    color: #fff;
}
.head-right ul li:nth-of-type(5){
    position: relative;
}
.hide{
    position: absolute;
    line-height: 31px;
    top: 52px;
    right: 0px;
    padding: 0;
    height: 65px;
    width: 100px;
    z-index: 16;
    cursor: pointer;
    background: #ffc001;
    padding-top: 5px;
    display: none;
}
.jt {
    margin-top: -6px;
    left: 45px;
    top: -6px;
    z-index: 2;
    border-bottom-color: #ffc001!important;
    border-color: #fff;
    border-style: solid;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 6px;
}
.hide-zi{
    font-size: 14px;
    text-align: center;
    line-height: 31px;
    color: #fff;
}
.hide .hide-zi a{
    font-size: 14px;
    text-align: center;
    /*line-height: 31px;*/
    color: #fff;
}
.hide .hide-zi:hover{
    background: rgba(0,0,0,0.1);
}
.head-right ul li:nth-of-type(5):hover .hide{
    display: block;
}
/*头部结束*/
/*banner开始*/
.banner{
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1;
    background-size: cover;
    background: url("../img/case-banner.jpg") no-repeat 50% 50%;
}
/*banner结束*/
/*案例开始*/
.case-container{
    width: 100%;
    height: 1370px;
}
.case-content{
    width: 1200px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.case-item{
    position: absolute;
    top: 111px;
    left: 3px;
    width: 278px;
    height: 209px;
    overflow: hidden;
}
.case-item img,.case-item-bottom img{
    display: block;
    width: 100%;
    height: 100%;
}
.mask{
    width:278px;
    height:209px;
    position: absolute;
    left: -278px;
    top: 0;
    background: rgba(0,0,0,0.6);
}
.case-item-bottom{
    position: absolute;
    top: 317px;
    left: 3px;
    width: 278px;
    height: 130px;
}
.case-item-text{
    position: absolute;
    top: 355px;
    left: 19px;
    width: 242px;
    height: 62px;
}
.case-item-text p:nth-of-type(1){
    font-family: 微软雅黑;
    font-size: 14px;
    color: rgb(51, 51, 51);
    text-align: center;
    line-height: 30px;
}
.case-item-text p:nth-of-type(2){
    font-family: 微软雅黑;
    color: rgb(153, 153, 153);
    font-size: 12px;
    text-align: center;
    line-height: 30px;
}
.case-item-2{
    position: absolute;
    top: 111px;
    left: 309px;
    width: 277px;
    height: 210px;
}
.case-item-bottom-2{
    position: absolute;
    top: 318px;
    left: 308px;
    width: 278px;
    height: 130px;
}
.case-item-text-2{
    position: absolute;
    top: 357px;
    left: 329px;
    width: 242px;
    height: 62px;
}
.case-item-3{
    position: absolute;
    top: 111px;
    left: 615px;
    width: 276px;
    height: 211px;
}
.case-item-bottom-3{
    position: absolute;
    top: 319px;
    left: 615px;
    width: 276px;
    height: 130px;
}
.case-item-text-3{
    position: absolute;
    top: 358px;
    left: 631px;
    width: 242px;
    height: 62px;
}
.case-item-4{
    position: absolute;
    top: 109px;
    left: 918px;
    width: 277px;
    height: 211px;
}
.case-item-bottom-4{
    position: absolute;
    top: 319px;
    left: 918px;
    width: 278px;
    height: 130px;
}
.case-item-text-4{
    position: absolute;
    top: 364px;
    left: 934px;
    width: 242px;
    height: 62px;
}
.case-item-5{
    position: absolute;
    top: 514px;
    left: 2px;
    width: 278px;
    height: 209px;
}
.case-item-bottom-5{
    position: absolute;
    top: 722px;
    left: 3px;
    width: 278px;
    height: 130px;
}
.case-item-text-5{
    position: absolute;
    top: 748px;
    left: 39px;
    width: 202px;
    height: 62px;
}
.case-item-6{
    position: absolute;
    top: 513px;
    left: 306px;
    width: 277px;
    height: 211px;
}
.case-item-bottom-6{
    position: absolute;
    top: 723px;
    left: 305px;
    width: 278px;
    height: 130px;
}
.case-item-text-6{
    position: absolute;
    top: 749px;
    left: 322px;
    width: 242px;
    height: 62px;
}
.case-item-7{
    position: absolute;
    top: 513px;
    left: 614px;
    width: 277px;
    height: 210px;
}
.case-item-bottom-7{
    position: absolute;
    top: 723px;
    left: 614px;
    width: 278px;
    height: 130px;
}
.case-item-text-7{
    position: absolute;
    top: 749px;
    left: 631px;
    width: 242px;
    height: 62px;
}
.case-item-8{
    position: absolute;
    top: 513px;
    left: 916px;
    width: 278px;
    height: 209px;
}
.case-item-bottom-8{
    position: absolute;
    top: 721px;
    left: 917px;
    width: 278px;
    height: 131px;
}
.case-item-text-8{
    position: absolute;
    top: 749px;
    left: 934px;
    width: 242px;
    height: 62px;
}
.case-item-9{
    position: absolute;
    top: 926px;
    left: 4px;
    width: 278px;
    height: 209px;
}
.case-item-bottom-9{
    position: absolute;
    top: 1134px;
    left: 4px;
    width: 278px;
    height: 130px;
}
.case-item-text-9{
    position: absolute;
    top: 1157px;
    left: 20px;
    width: 242px;
    height: 62px;
}
.case-item-10{
    position: absolute;
    top: 925px;
    left: 305px;
    width: 277px;
    height: 210px;
}
.case-item-bottom-10{
    position: absolute;
    top: 1134px;
    left: 304px;
    width: 278px;
    height: 130px;
}
.case-item-text-10{
    position: absolute;
    top: 1157px;
    left: 323px;
    width: 242px;
    height: 62px;
}
.case-item-11{
    position: absolute;
    top: 924px;
    left: 611px;
    width: 277px;
    height: 210px;
}
.case-item-bottom-11{
    position: absolute;
    top: 1133px;
    left: 611px;
    width: 278px;
    height: 130px;
}
.case-item-text-11{
    position: absolute;
    top: 1156px;
    left: 628px;
    width: 242px;
    height: 62px;
}
.case-item-12{
    position: absolute;
    top: 924px;
    left: 917px;
    width: 277px;
    height: 210px;
}
.case-item-bottom-12{
    position: absolute;
    top: 1133px;
    left: 917px;
    width: 278px;
    height: 130px;
}
.case-item-text-12{
    position: absolute;
    top: 1155px;
    left: 935px;
    width: 242px;
    height: 62px;
}
/*案例结束*/
/*footer开始*/
footer{
    width: 100%;
    height: 89px;
    background: #000;
}
.footer-box{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
footer .footer-box p{
    font-size: 12px;
    font-family: 微软雅黑;
    color: #7f7f7f;
    text-align: center;
    margin-top: 25px;
}
footer .footer-box p:nth-of-type(2){
    margin-top: 5px;
}
.footer-box p span{
    font-size: 12px;
    font-family: 微软雅黑;
    color: #7f7f7f;
    text-align: center;
}
.footer-box p span:hover{
    color: #fff;
    cursor: pointer;
}
/*footer结束*/
/*返回开始*/
.toTop{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 40px;
    bottom: 50px;
    display: none;
    opacity: 1;
    background: url("../img/back.png") no-repeat 50% 50%;
    background-size: cover;
    transition: all 1s;
    cursor: pointer;
}
.toTop:hover{
    display: block;
    opacity: 0.2;
    background: url("../img/backhover.png") no-repeat 50% 50%;
    background-size: cover;
}
/*返回结束*/