@import "base.css";
/*头部开始*/
header{
    width: 100%;
    height: 120px;
}
.head-box{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-left{
    width: 300px;
    height: 42px;
}
.head-left span{
    color: rgb(255, 192, 1);
    font-family: 微软雅黑, "Microsoft YaHei";
    font-size: 32px;
    font-weight: bold;
}
.head-left span span{
    color: rgb(204, 204, 204);
}
.head-right{
    width: 601px;
    height: 40px;
}
.head-right ul{
    width: 100%;
    height: 100%;
}
.head-right ul li{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #333;
    float: left;
    margin-right: 15px;
    cursor: pointer;
}
.head-right ul li a{
    color: #333;
    font-size: 16px;
}
.head-right ul .active{
    background-color: #ffc001;
    border-radius: 20px;
    color: #fff;
}
.head-right ul .active a{
    color: #fff;
}
.head-right ul li:hover{
    background-color: #ffc001;
    border-radius: 20px;
    color: #fff;
}
.head-right ul li:hover a{
    color: #fff;
}
.head-right ul li:nth-of-type(5){
    position: relative;
}
.hide{
    position: absolute;
    line-height: 31px;
    top: 52px;
    right: 0px;
    padding: 0;
    height: 65px;
    width: 100px;
    z-index: 16;
    cursor: pointer;
    background: #ffc001;
    padding-top: 5px;
    display: none;
}
.jt {
    margin-top: -6px;
    left: 45px;
    top: -6px;
    z-index: 2;
    border-bottom-color: #ffc001!important;
    border-color: #fff;
    border-style: solid;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 6px;
}
.hide-zi{
    font-size: 14px;
    text-align: center;
    line-height: 31px;
    color: #fff;
}
.hide .hide-zi a{
    font-size: 14px;
    text-align: center;
    /*line-height: 31px;*/
    color: #fff;
}
.hide .hide-zi:hover{
    background: rgba(0,0,0,0.1);
}
.head-right ul li:nth-of-type(5):hover .hide{
    display: block;
}
/*头部结束*/
/*banner开始*/
.banner{
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1;
    background-size: cover;
    background: url("../img/about-banner.jpg") no-repeat 50% 50%;
}
/*banner结束*/
/*联系方式开始*/
.contact-container{
    width: 100%;
    height: 950px;
}
.contact-content{
    width: 1200px;
    height:100%;
    margin: 0 auto;
    position: relative;
}
.contact-title{
    position: absolute;
    top: 66px;
    left: 449px;
    width: 300px;
    height: 60px;
}
.contact-title p{
    color: rgb(102, 102, 102);
    font-family:"微软雅黑";
    font-size: 29px;
    text-align: center;
    line-height: 32px;
}
.contact-title p:nth-of-type(2){
    font-family: 微软雅黑;
    color: rgb(153, 153, 153);
    font-size: 13px;
    text-align: center;
}
.icon{
    position: absolute;
    top: 140px;
    left: 520px;
    width: 166px;
    height: 12px;
}
.icon img{
    display: block;
    width: 100%;
    height: 100%;
}
.iphone-box{
    position: absolute;
    top: 255px;
    left: 102px;
    width: 203px;
    height: 170px;
}
.iphone-box img,.iphone img{
    display: block;
    width: 100%;
    height: 100%;
}
.iphone{
    position: absolute;
    top: 277px;
    left: 175px;
    width: 58px;
    height: 46px;
}
.contact-bottom{
    position: absolute;
    top: 357px;
    left: 113px;
    width: 176px;
    height: 52px;
}
.contact-bottom p{
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-family: "微软雅黑";
    line-height: 26px;
}
.contact-bottom p:nth-of-type(2){
    color: #333;
    font-size: 16px;
    font-weight: bold;
}
.iphone-box-2{
    position: absolute;
    top: 255px;
    left: 361px;
    width: 203px;
    height: 170px;
}
.iphone-2{
    position: absolute;
    top: 273px;
    left: 430px;
    width: 61px;
    height: 49px;
}
.contact-bottom2{
    position: absolute;
    top: 357px;
    left: 378px;
    width: 164px;
    height: 52px;
}
.iphone-box-3{
    position: absolute;
    top: 255px;
    left: 626px;
    width: 203px;
    height: 170px;
}
.iphone-3{
    position: absolute;
    top: 278px;
    left: 704px;
    width: 53px;
    height: 37px;
}
.contact-bottom3{
    position: absolute;
    top: 357px;
    left: 631px;
    width: 197px;
    height: 52px;
}
.iphone-box-4{
    position: absolute;
    top: 255px;
    left: 884px;
    width: 203px;
    height: 170px;
}
.iphone-4{
    position: absolute;
    top: 274px;
    left: 960px;
    width: 51px;
    height: 51px;
}
.contact-bottom4{
    position: absolute;
    top: 357px;
    left: 887px;
    width: 189px;
    height: 52px;
}
.nav-box{
    position: absolute;
    top: 550px;
    left: 95px;
    width: 1004px;
    height: 305px;
}
/*联系方式结束*/
/*footer开始*/
footer{
    width: 100%;
    height: 89px;
    background: #000;
}
.footer-box{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
footer .footer-box p{
    font-size: 12px;
    font-family: 微软雅黑;
    color: #7f7f7f;
    text-align: center;
    margin-top: 25px;
}
footer .footer-box p:nth-of-type(2){
    margin-top: 5px;
}
.footer-box p span{
    font-size: 12px;
    font-family: 微软雅黑;
    color: #7f7f7f;
    text-align: center;
}
.footer-box p span:hover{
    color: #fff;
    cursor: pointer;
}
/*footer结束*/
/*返回开始*/
.toTop{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 40px;
    bottom: 50px;
    display: none;
    opacity: 1;
    background: url("../img/back.png") no-repeat 50% 50%;
    background-size: cover;
    transition: all 1s;
    cursor: pointer;
}
.toTop:hover{
    display: block;
    opacity: 0.2;
    background: url("../img/backhover.png") no-repeat 50% 50%;
    background-size: cover;
}
/*返回结束*/