@import "base.css";
/*头部开始*/
header{
    width: 100%;
    height: 120px;
}
.head-box{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-left{
    width: 300px;
    height: 42px;
}
.head-left span{
    color: rgb(255, 192, 1);
    font-family: 微软雅黑, "Microsoft YaHei";
    font-size: 32px;
    font-weight: bold;
}
.head-left span span{
    color: rgb(204, 204, 204);
}
.head-right{
    width: 601px;
    height: 40px;
}
.head-right ul{
    width: 100%;
    height: 100%;
}
.head-right ul li{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #333;
    float: left;
    margin-right: 15px;
    cursor: pointer;
}
.head-right ul li a{
    color: #333;
    font-size: 16px;
}
.head-right ul .active{
    background-color: #ffc001;
    border-radius: 20px;
    color: #fff;
}
.head-right ul .active a{
    color: #fff;
}
.head-right ul li:hover{
    background-color: #ffc001;
    border-radius: 20px;
    color: #fff;
}
.head-right ul li:hover a{
    color: #fff;
}
.head-right ul li:nth-of-type(5){
    position: relative;
}
.hide{
    position: absolute;
    line-height: 31px;
    top: 52px;
    right: 0px;
    padding: 0;
    height: 65px;
    width: 100px;
    z-index: 16;
    cursor: pointer;
    background: #ffc001;
    padding-top: 5px;
    display: none;
}
.jt1{
    margin-top: -6px;
    left: 45px;
    top: -6px;
    z-index: 2;
    border-bottom-color: #ffc001!important;
    border-color: #fff;
    border-style: solid;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 6px;
}
.hide-zi{
    font-size: 14px;
    text-align: center;
    line-height: 31px;
    color: #fff;
}
.hide .hide-zi a{
    font-size: 14px;
    text-align: center;
    /*line-height: 31px;*/
    color: #fff;
}
.hide .hide-zi:hover{
    background: rgba(0,0,0,0.1);
}
.head-right ul li:nth-of-type(5):hover .hide{
    display: block;
}
/*头部结束*/
/*banner开始*/
.banner{
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1;
    background-size: cover;
    background: url("../img/hb-banner.jpg") no-repeat 50% 50%;
}
/*banner结束*/
/*产品开始*/
.hb-container{
    width: 100%;
    height: 766px;
}
.hb-content{
    width: 1200px;
    height: 686px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 80px 0 80px 0;
}
.hb-left-tit{
    width: 200px;
    height: 100%;
}
.hb-left-tit li:nth-of-type(1){
    border: none;
}
.hb-left-tit li{
    width: 144px;
    height: 48px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 48px;
    font-size: 12px;
    color: #666;
    border-top: 1px solid #E6E6E6;
    position: relative;
}
.hb-left-tit li:hover{
    background: #000;
    transition: all .5s;
    color: #fff;
    cursor: pointer;
    border: none;
}
.hb-left-tit .active{
    background: #000;
    transition: all .5s;
    color: #fff;
    cursor: pointer;
    border: none;
}
.hb-left-tit .active .jt{
    display: block;
}
.jt{
    display: none;
    margin-top: -6px;
    top: 50%;
    right: -12px;
    z-index: 2;
    border-left-color: #2b2b2b!important;
    border-color: #fff;
    border-style: solid;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 6px;
}
.hb-left-tit li:hover .jt{
    display: block;
}
.hb-right-img{
    width: 970px;
    height: 606px;
    margin-top: 15px;
    position: relative;
}
.hb-right-item{
    width: 970px;
    height: 606px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.hb-right-item li{
    width: 280px;
    height: 190px;
    float: left;
    margin: 5px 5px 5px 5px;
    padding: 0 5px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.hb-item-img{
    width: 280px;
    height: 180px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.hb-item-img img{
    display: block;
    width: 290px;
    height: 180px;
}
.hb-item-img img:hover{
    transform: translateX(-7px);
    transition: all 1s;
}
.hb-right-img .active{
    display: block;
}
/*产品结束*/
/*footer开始*/
footer{
    width: 100%;
    height: 89px;
    background: #000;
}
.footer-box{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
footer .footer-box p{
    font-size: 12px;
    font-family: 微软雅黑;
    color: #7f7f7f;
    text-align: center;
    margin-top: 25px;
}
footer .footer-box p:nth-of-type(2){
    margin-top: 5px;
}
.footer-box p span{
    font-size: 12px;
    font-family: 微软雅黑;
    color: #7f7f7f;
    text-align: center;
}
.footer-box p span:hover{
    color: #fff;
    cursor: pointer;
}
/*footer结束*/
/*返回开始*/
.toTop{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 40px;
    bottom: 50px;
    display: none;
    opacity: 1;
    background: url("../img/back.png") no-repeat 50% 50%;
    background-size: cover;
    transition: all 1s;
    cursor: pointer;
}
.toTop:hover{
    display: block;
    opacity: 0.2;
    background: url("../img/backhover.png") no-repeat 50% 50%;
    background-size: cover;
}
/*返回结束*/